.detailPage {
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    justify-content: center;
    height: 100vh;
}

.detailContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 135px;
}

.imageDetail {
    width: 350px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 20px;
    margin-right: 70px;
}

.imageDetail img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.datosDetail {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    width: 300px;
    height: 450px;
}

.detailName {
    width: 90%;
    margin: 15px;
}

.detailName h1 {
    font-size: 22px;
    font-family: sans-serif;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.detailDescription {
    width: 90%;
    height: 200px;
    margin: 15px;
}

.detailDescription h1 {
    font-size: 16px;
    font-family: sans-serif;
}

.detailStock {
    width: 90%;
    margin: 15px;
}

.detailStock h1 {
    font-size: 16px;
    font-family: sans-serif;
}

.detailPrecio {
    width: 90%;
    margin-left: 15px;
    margin-top: 20px;
}

.detailPrecio h1 {
    font-size: 25px;
    font-family: sans-serif;
    border-bottom: 1px solid rgb(0, 187, 0, 0.5);
}

.detailConter {
    display: grid;
    place-items: center;
    width: 90%;
    height: 80px;
    margin: 15px;
}

.detailFinalizarCompra {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #06771e;
}

.detailFinalizarCompra:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.detailFinalizarCompra:hover:after {
    opacity: 1;
    right: 10px;
}

.detailFinalizarCompra:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}